/* comandos gerais */

html{
    scroll-behavior: smooth;
}



/* video template 3D superior */
a{
    color: #cecece;
    
}

a:hover{
    color: #fff;
    text-decoration: none;
}

.bgFooter{
    background-color:#050204;
    color: #cecece;
    text-align: center;
}


/* fim comandos gerais */

/* h1 superior */
.DivBemVindo{
text-align: center;
}

h2{
    font-size: 1.5em;
    text-align: center;
}


/* NavBar */
.bgNav{
    background-color:#050204;
    color: #cecece;
}


/* Fim NavBar */



/* estilização projetos */


.sectionProject{
    box-shadow: #3c153d 0px 5px 100px -20px, 
    #3c153d 0px 30px 60px -30px, 
    #3c153d 0px -2px 6px 0px inset;
    border-radius: 1em;
}



/* fim estilização projetos */








/* config inicial Mobile first */

body {
    overflow-x: hidden;
    background-image: url(/images/elipse_mobile@1-414x736.jpg);
    background-repeat: no-repeat;
    background-color: #0e1229;
    color: #cecece;
    text-align:justify;
    
}


.icon{
    font-size: 30px;
    margin-left: 100%;
    }

.iconProjeto{
    font-size: 30px;
}




    .pFooter{
        text-align: center;
    }


    .DivBemVindo{
        margin-top: 10rem;
        color: #fff;
    
    }

/* @medias de responsividade */
@media (max-width: 575.98px) { 
    body {
        background-image: url(/images/elipse_mobile@1-414x736.jpg);
        background-position: center top;
    }
}


/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {


    body {
        background-image: url(/images/elipse\ tablet@1-768x1024.jpg);
        background-position: center top;
    }

    .icon{
        margin-left: 0%;
        }
        p, a{
            font-size: large;
        }

        small{
            font-size: medium;
        }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    

    

    body {
        background-image: url(/images/elipse@1-1920x1080.jpg );
        background-position: center top;
    }

    .icon{
        margin-left: 0%;
        }

 }

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    body {
        background-image: url(/images/elipse@1-1920x1080.jpg );
        background-position: center top;
    }

    .icon{
        margin-left: 0%;
        }
}

 /* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) {
 
    body {
        background-image: url(/images/elipse@1-1920x1080.jpg );
        background-position: center top;
    }

    .icon{
        margin-left: 0%;
        }


     h1{
        font-size: 3rem;
     }

     h2{
        font-size: 2rem;
     }

     p{
        font-size: x-large;
     }

     small{
        font-size: larger;
     }
}